/* ===== DASHBOARD ===== */

.dashboard {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  /* Desktop */
  .dashboard-left {
    flex: 1;
  }
  
  .dashboard-right {
    flex: 2;
  }
  
  /* ===== MOBILE ===== */
  @media (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
  
    .dashboard-left,
    .dashboard-right {
      width: 100%;
    }
  
    .dashboard-right {
      margin-top: 20px;
    }
  }

  